body.about {
  .menubar {
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: solid #e9d3ff 0.3vh;
    justify-content: flex-start;
  }
  .justmenu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 1vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 12vw;
  }
  .logo {
    position: relative;
    font-size: 3.1vw;
    font-weight: 700;
    margin-top: 5vh;
    margin-bottom: 1vh;
    padding-bottom: 2vh;
  }
  .menutext {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }
}
