.main {
  background-color: #fbf4ee;
  padding-left: 45px;
  padding-right: 45px;
  overflow: hidden;
}

.main_about_us {
  background-color: #fbf4ee;
}

.container {
  height: 100%;
  width: 1440px;
  font-family: Helvetica, serif;
}

.start_text {
  width: 65%;
  font-size: 36px;
  font-family: Helvetica, serif;
  color: #f95b5b;
}

i.start_text {
  font-family: 'Bodoni Cyrillic', arial, serif;
  font-size: 45px;
}

.start_button_div {
  margin-top: 120px;
  margin-bottom: 120px;
}

.start_button {
  font-family: 'Bodoni Cyrillic', arial, serif;
  font-size: 36px;
  color: white;
  padding: 15px 20px;
  border-radius: 40px;
  border: 0;
  background-color: #f95b5b;
}

.about_feminism {
}

.about_feminism_title {
  font-family: 'Bodoni Cyrillic', arial, serif;
  font-size: 64px;
  color: #f95b5b;
}

b.about_feminism_title {
  font-family: Helvetica, serif;
  font-size: 52px;
}

.about_feminism_img_div {
  margin-top: 37px;
  display: flex;
  justify-content: end;
}

.about_feminism_img {
  width: 545px;
  height: 250px;
}

.about_feminism_text {
  margin-top: 37px;
  display: flex;
}

.about_feminism_text_img {
  width: 545px;
  height: 348px;
}

.about_feminism_text_div {
  margin-left: 31px;
  height: 348px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.useful_articles {
  margin-bottom: 122px;
}

.useful_articles_title {
  font-family: 'Bodoni Cyrillic', arial, serif;
  font-size: 64px;
  color: #f95b5b;
  margin-top: 60px;
  margin-bottom: 60px;
}

.useful_articles_grid {
  width: 100%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.useful_articles_grid_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.useful_articles_img {
  border-radius: 30px;
  width: 100%;
  height: 296px;
  object-fit: cover;
}

.useful_articles_grid_column_text {
  margin-left: 17px;
  color: #f95b5b;
}

.useful_articles_name {
  font-family: 'Bodoni Cyrillic', arial, serif;
  font-size: 36px;
  font-style: italic;
  margin-top: 28px;
}

.useful_articles_text {
  font-family: Helvetica, serif;
  font-size: 24px;
  padding: 10px 50px 50px 0;
}

.useful_articles_time {
  font-family: Helvetica, serif;
  font-size: 18px;
}

.fem_directions_title {
  font-family: 'Bodoni Cyrillic', arial, serif;
  font-size: 64px;
  color: #f95b5b;
}

b.fem_directions_title {
  font-family: Helvetica, serif;
  font-size: 52px;
}

.direction_title {
  font-family: 'Bodoni Cyrillic', arial, serif;
  font-size: 45px;
  font-style: italic;
  color: #f95b5b;
  margin-top: 60px;
}

.liberal_img_div {
  margin-top: 29px;
  display: flex;
  justify-content: end;
}

.liberal_img {
  width: 430px;
  height: 249px;
}

.liberal_text {
  margin-top: 40px;
  display: flex;
}

.liberal_text_img_div {
}

.mini_text {
  font-family: Helvetica, serif;
  font-size: 24px;
}

.liberal_text_img {
  width: 430px;
  height: 312px;
}

.liberal_text_div {
  margin-left: 31px;
  display: flex;
  justify-content: start;
}

.direction_text {
  margin-top: 40px;
}

.direction_text_div {
  display: flex;
  gap: 30px;
}

.direction_text_cols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.direction_left_img {
  height: 382px;
  width: 430px;
}

.direction_right_img {
  height: 349px;
  width: 430px;
}

.text_top {
  margin-top: 40px;
}

.direction_left_img_soc {
  height: 415px;
  width: 545px;
}

.direction_right_img_soc {
  height: 314px;
  width: 545px;
}

/*Искусство / Ана Мендиета*/

.span_name {
  font-size: 16px;
  color: #f95b5b;
  margin-bottom: 14px;
}

.photos_col {
  display: flex;
  /*gap: 30px;*/
  justify-content: space-between;
}

.photos_col-img {
  max-height: 755px;
  height: 100%;
  max-width: 660px;
  width: 100%;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title_text {
  font-family: 'Bodoni Cyrillic', arial, sans-serif;
  color: #f95b5b;
  font-size: 75px;
  font-style: italic;
  margin: 50px 0 30px 0;
}

.text-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: space-between;
  font-family: Helvetica, serif;
  font-size: 24px;
  color: #f95b5b;
  line-height: 28px;
}

.mini-photo-col {
  display: flex;
  justify-content: end;
}

.mini-photo-col-cover {
  max-height: 554px;
  height: 100%;
  max-width: 394px;
  width: 100%;
}

/*Искусство / Арт-феминизм*/

.art_main-photo {
  max-height: 755px;
  height: 100%;
  max-width: 1348px;
  width: 100%;
}

.art_mini-photo {
  max-height: 542px;
  height: 100%;
  max-width: 660px;
  width: 100%;
}

/*Искусство / Яеи Кусама*/

.kusama_mini-photo {
  max-height: 395px;
  height: 100%;
  max-width: 660px;
  width: 100%;
}

.text-photos {
  display: flex;
  gap: 30px;
}

/*Искусство / Кэроли Шнееманн*/

.text-photos_first {
  max-height: 441px;
  height: 100%;
  max-width: 430px;
  width: 100%;
}

.text-photos_second {
  max-height: 441px;
  height: 100%;
  max-width: 345px;
  width: 100%;
}

/*Искусство / Работы Синди Шерман*/

.sindy_mini-photo {
  max-height: 520px;
  height: 100%;
  max-width: 660px;
  width: 100%;
}

/*История / Революция и феминизм*/

.rev_mini-photo {
  max-height: 482px;
  height: 100%;
  max-width: 660px;
  width: 100%;
}

/*История / Суфражизм*/

.suf_mini-photo {
  max-height: 432px;
  height: 100%;
  max-width: 660px;
  width: 100%;
}

/*about us*/

.about_us_text-section {
  max-width: 683px;
  width: 100%;
  color: #f95b5b;
  margin-left: 168px;
}

.about_us_text-section-main {
  font-size: 64px;
  line-height: 60px;
  margin-bottom: 20px;
}

.about_us_text-section-title {
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 36px;
}

.about_us_text-section-all {
  font-size: 24px;
  line-height: 28px;
}

.about_us_cards {
  width: 100%;
  padding: 78px 168px 90px 168px;
  background-color: #f95b5b;
  display: flex;
  justify-content: space-between;
  /*border-top: 101px;*/
  border-radius: 101px;
}

.about_us_cards-photo {
  max-height: 330px;
  max-width: 351px;
  height: 100%;
  width: 100%;
}

.about_us_cards-text {
  margin-top: 22px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: white;
}
