* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

body {
  font-family: 'helvetica', Helvetica, Arial, sans-serif;
}
p,
a {
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #0c0c0c;
}
p {
  line-height: 28px;
}
a:hover {
  color: #e9d3ff;
  cursor: pointer;
}
h2 {
  font-weight: 700;
  font-size: 72px;
  line-height: 68px;
  color: #0c0c0c;
}
h3 {
  font-weight: 600;
  font-size: 3.1vw;
  color: #a54bff;
}
.menubar {
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: solid #e9d3ff 0.3vh;
  justify-content: flex-start;
}
.justmenu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 1vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 12vw;
}
.logo {
  position: relative;
  font-size: 3.1vw;
  font-weight: 700;
  margin-top: 4vh;
  margin-bottom: 1vh;
  padding-bottom: 2vh;
}
.logo:hover {
  color: #e9d3ff;
  cursor: pointer;
}
.menutext {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}
.menutext:hover {
  color: #e9d3ff;
  cursor: pointer;
}
