// @font-face {
//   font-family: 'PT Root UI';
//   src: url('fonts/PT-Root-UI_Light.woff2') format('woff2'),
//     url('fonts/PT-Root-UI_Light.woff') format('woff');
//   font-weight: 100;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'PT Root UI';
//   src: url('fonts/PT-Root-UI_Regular.woff2') format('woff2'),
//     url('fonts/PT-Root-UI_Regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'PT Root UI';
//   src: url('fonts/PT-Root-UI_Medium.woff2') format('woff2'),
//     url('fonts/PT-Root-UI_Medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'PT Root UI';
//   src: url('fonts/PT-Root-UI_Bold.woff2') format('woff2'),
//     url('fonts/PT-Root-UI_Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Medium.ttf') format('ttf'),
    url('fonts/Gilroy-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Regular.ttf') format('ttf'),
    url('fonts/Gilroy-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Bold.ttf') format('ttf'),
    url('fonts/Gilroy-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-SemiBold.ttf') format('ttf'),
    url('fonts/Gilroy-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica';
  src: url('fonts/helvetica_regular.otf') format('otf'),
    url('fonts/helvetica_regular.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica';
  src: url('fonts/helvetica_bold.otf') format('otf'),
    url('fonts/helvetica_bold.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica';
  src: url('fonts/helvetica_oblique.otf') format('otf'),
    url('fonts/helvetica_oblique.otf') format('otf');
  font-weight: 400;
  font-style: oblique;
}
