@media only screen and (min-width: 2560px) {
  body.index {
    height: 6600px;
    h1 {
      font-size: 380px;
      line-height: 300px;
      top: 410px;
    }
    h2 {
      font-size: 108px;
      line-height: 102px;
    }
    p {
      font-size: 36px;
      line-height: 40px;
    }
    .invisible {
      width: 2470px;
    }
    .main1 {
      height: 1315px;
      background-position: right 0px top -45px;
    }
    .main2 {
      height: 1632px;
      background-position: right 0px top -1360px;
    }
    .main3 {
      height: 1470px;
      background-position: right 0px top -2990px;
    }
    .main4 {
      height: 930px;
      background-position: right 0px top -4460px;
    }
    .main5 {
      height: 1170px;
      background-position: right 0px top -5385px;
    }
    .what {
      width: 1016px;
    }
    #a {
      left: 200px;
    }
    #b {
      right: 100px;
    }
    #arrow1 {
      left: 1130px;
    }
    #arrow2 {
      left: 1140px;
    }
    #sparkle1 {
      top: 10px;
      left: -230px;
    }
    #sparkle2 {
      top: 10px;
      right: -230px;
    }
    .tagsflex {
      top: 310px;
    }
    .main3 {
      div {
        top: 610px;
        width: 1000px;
      }
      #circle {
        top: -173px;
        left: 41px;
      }
      #star2 {
        top: 276px;
        left: 960px;
      }
    }
    #sparkle3 {
      bottom: 137px;
      left: 299px;
    }
    .main5 {
      #txtemail {
        top: 300px;
        left: 470px;
      }
      p {
        width: 1000px;
      }
    }
    #emails {
      top: 640px;
    }
    #lovewomen {
      bottom: 150px;
      left: 1121px;
    }
  }
}
@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  body.index {
    height: 5360px;
    h1 {
      font-size: 320px;
      line-height: 260px;
      top: 275px;
    }
    h2 {
      font-size: 84px;
      line-height: 80px;
    }
    p {
      font-size: 28px;
      line-height: 32px;
    }
    .invisible {
      width: 1830px;
    }
    .main1 {
      height: 942px;
      background-position: right 0px top -45px;
    }
    .main2 {
      height: 1478px;
      background-position: right 0px top -980px;
    }
    .main3 {
      height: 1010px;
      background-position: right 0px top -2465px;
    }
    .main4 {
      height: 780px;
      background-position: right 0px top -3475px;
    }
    .main5 {
      height: 1110px;
      background-position: right 0px top -4250px;
    }
    .main3 {
      div {
        width: 900px;
      }
    }
    .what {
      width: 960px;
    }
    #a {
      left: 150px;
    }
    #b {
      right: 150px;
    }
    #arrow1 {
      left: 850px;
    }
    #arrow2 {
      left: 670px;
    }
    .tagsflex {
      top: 240px;
    }
    .main3 {
      div {
        top: 400px;
      }
    }
    #sparkle3 {
      bottom: 137px;
      left: 299px;
    }
    .main5 {
      #txtemail {
        top: 300px;
        left: 350px;
      }
    }
    #emails {
      top: 640px;
    }
    #lovewomen {
      bottom: 87px;
      left: 793px;
    }
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  body.index {
    height: 4220px;
    h1 {
      font-size: 230px;
      line-height: 190px;
      top: 140px;
    }
    h2 {
      font-size: 56px;
      line-height: 52px;
    }
    p {
      font-size: 20px;
      line-height: 23px;
    }
    .invisible {
      width: 1220px;
    }
    .main1 {
      height: 640px;
      background-position: right 0px top -30px;
    }
    .main2 {
      height: 1340px;
      background-position: right 0px top -1360px;
    }
    .main3 {
      height: 800px;
      background-position: right 0px top -2990px;
    }
    .main4 {
      height: 530px;
      background-position: right 0px top -4460px;
    }
    .main5 {
      height: 880px;
      background-position: right 0px top -5385px;
    }
    .what {
      width: 650px;
    }
    #a {
      top: 70px;
      left: 60px;
    }
    #b {
      top: 500px;
      right: 60px;
    }
    #c {
      top: 975px;
    }
    #arrow1 {
      top: 268px;
      left: 545px;
      width: 349px;
    }
    #arrow2 {
      top: 763px;
      left: 475px;
      width: 300px;
    }
    #sparkle1 {
      width: 160px;
      top: 10px;
      left: -230px;
    }
    #sparkle2 {
      width: 160px;
      top: 10px;
      right: -230px;
    }
    .tagsflex {
      top: 130px;
    }
    .main3 div {
      top: 334px;
      width: 527px;
      #circle {
        top: -174px;
        left: -119px;
        width: 782px;
      }
      #star1 {
        top: -195px;
        left: -124px;
      }
      #star2 {
        top: 200px;
        left: 520px;
        width: 250px;
      }
    }
    #sparkle3 {
      width: 160px;
      bottom: 75px;
      left: 130px;
    }
    .main5 {
      #txtemail {
        top: 152px;
        left: 149px;
      }
      p {
        width: 600px;
      }
    }
    #emails {
      top: 430px;
    }
    #lovewomen {
      bottom: 134px;
      left: 507px;
      width: 238px;
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  body.index {
    height: 3530px;
    h1 {
      font-size: 180px;
      line-height: 150px;
      top: 140px;
    }
    h2 {
      font-size: 44px;
      line-height: 42px;
    }
    p {
      font-size: 18px;
      line-height: 21px;
    }
    section {
      border-radius: 30px;
    }
    .invisible {
      width: 980px;
    }
    .main1 {
      height: 550px;
      background-position: right 0px top -30px;
    }
    .main2 {
      height: 1120px;
      background-position: right 0px top -580px;
    }
    .main3 {
      height: 620px;
      background-position: right 0px top -1700px;
    }
    .main4 {
      height: 530px;
      background-position: right 0px top -2300px;
    }
    .main5 {
      height: 685px;
      background-position: right 0px top -2850px;
    }
    .what {
      width: 650px;
      border-radius: 30px;
    }
    #a {
      top: 55px;
      left: 50px;
    }
    #b {
      top: 430px;
      right: 60px;
    }
    #c {
      top: 850px;
    }
    #arrow1 {
      top: 250px;
      left: 430px;
      width: 290px;
    }
    #arrow2 {
      top: 670px;
      left: 361px;
      width: 249px;
    }
    #sparkle1 {
      width: 130px;
      top: 10px;
      left: -140px;
    }
    #sparkle2 {
      width: 130px;
      top: 10px;
      right: -140px;
    }
    .tagsflex {
      top: 130px;
    }
    .main3 div {
      top: 260px;
      width: 527px;
      #circle {
        top: -135px;
        left: -20px;
        width: 595px;
      }
      #star1 {
        top: -160px;
        left: -110px;
        width: 50px;
      }
      #star2 {
        top: 160px;
        left: 500px;
        width: 190px;
      }
    }
    #sparkle3 {
      width: 130px;
      bottom: 75px;
      left: 130px;
    }
    .main5 {
      #txtemail {
        top: 100px;
        left: 150px;
      }
      p {
        width: 530px;
      }
    }
    #emails {
      top: 350px;
    }
    #lovewomen {
      bottom: 75px;
      left: 420px;
      width: 190px;
    }
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 767px) {
  body.index {
    // height: 2780px;
    h1 {
      font-size: 75px;
      line-height: 62px;
      top: 140px;
    }
    h2 {
      font-size: 32px;
      line-height: 30px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
    }
    section {
      border-radius: 18px;
    }
    .invisible {
      width: 336px;
    }
    .main1 {
      height: 446px;
      background-position: right 0px top -30px;
    }
    .main2 {
      height: 1120px;
      background-position: right 0px top -580px;
    }
    .main3 {
      height: 620px;
      background-position: right 0px top -1700px;
    }
    .main4 {
      height: 530px;
      background-position: right 0px top -2300px;
    }
    .main5 {
      height: 685px;
      background-position: right 0px top -2850px;
    }
    .what {
      width: 300px;
      border-radius: 18px;
    }
    #a {
      top: 55px;
      left: 50px;
    }
    #b {
      top: 430px;
      right: 60px;
    }
    #c {
      top: 850px;
    }
    #arrow1 {
      top: 250px;
      left: 430px;
      width: 290px;
    }
    #arrow2 {
      top: 670px;
      left: 361px;
      width: 249px;
    }
    #sparkle1 {
      width: 130px;
      top: 10px;
      left: -140px;
    }
    #sparkle2 {
      width: 130px;
      top: 10px;
      right: -140px;
    }
    .tagsflex {
      top: 130px;
    }
    .main3 div {
      top: 260px;
      width: 527px;
      #circle {
        top: -135px;
        left: -20px;
        width: 595px;
      }
      #star1 {
        top: -160px;
        left: -110px;
        width: 50px;
      }
      #star2 {
        top: 160px;
        left: 500px;
        width: 190px;
      }
    }
    #sparkle3 {
      width: 130px;
      bottom: 75px;
      left: 130px;
    }
    .main5 {
      #txtemail {
        top: 100px;
        left: 150px;
      }
      p {
        width: 530px;
      }
    }
    #emails {
      top: 350px;
    }
    #lovewomen {
      bottom: 75px;
      left: 420px;
      width: 190px;
    }
  }
}
