@media only screen and (min-width: 2560px) {
  body.preview {
    height: 6600px;
    h1 {
      font-size: 380px;
      line-height: 300px;
      top: 202px;
    }
    .slogan {
      top: 311px;
      font-size: 36px;
    }
    #drawing1 {
      left: 62px;
      top: 80px;
      width: 418px;
    }
    #drawing2 {
      width: 447px;
      left: 1912px;
    }
    #drawing3 {
      width: 447px;
      left: 1679px;
      top: 1008px;
    }
    #drawing4 {
      width: 212px;
      left: 364px;
      top: 816px;
    }
    h2 {
      font-size: 108px;
      line-height: 102px;
    }
    .input,
    p {
      font-size: 36px;
      line-height: 40px;
    }
    .invisible {
      width: 2470px;
    }
    .main1 {
      height: 1315px;
      background-position: right 0px top -45px;
    }
    .main2 {
      height: 1632px;
      background-position: right 0px top -1360px;
    }
    .main3 {
      height: 1470px;
      background-position: right 0px top -2990px;
    }
    .main4 {
      height: 930px;
      background-position: right 0px top -4460px;
    }
    .main5 {
      height: 1170px;
      background-position: right 0px top -5385px;
    }
    .what {
      width: 1016px;
    }
    #a {
      left: 200px;
    }
    #b {
      right: 100px;
    }
    #arrow1 {
      left: 1130px;
    }
    #arrow2 {
      left: 1140px;
    }
    #sparkle1 {
      top: 10px;
      left: -230px;
    }
    #sparkle2 {
      top: 10px;
      right: -230px;
    }
    .tagsflex {
      top: 310px;
    }
    .main3 {
      div {
        top: 610px;
        width: 1000px;
      }
      #circle {
        top: -173px;
        left: 41px;
      }
      #star2 {
        top: 276px;
        left: 960px;
      }
    }
    #sparkle3 {
      bottom: 137px;
      left: 299px;
    }
    .main5 {
      #txtemail {
        top: 300px;
        left: 470px;
      }
      p {
        width: 1000px;
      }
    }
    #emails {
      top: 640px;
    }
    #lovewomen {
      bottom: 150px;
      left: 1121px;
    }
    #my-form-button {
      width: 60px;
      height: 60px;
    }
  }
}
@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  body.preview {
    height: 5360px;
    h1 {
      font-size: 250px;
      line-height: 203px;
      top: 146px;
    }
    .slogan {
      top: 166px;
      font-size: 28px;
      line-height: 34px;
    }
    #drawing1 {
      left: 71px;
      top: 97px;
    }
    #drawing2 {
      left: 1381px;
      width: 303px;
    }
    #drawing3 {
      width: 432px;
      left: 1260px;
      top: 648px;
    }
    #drawing4 {
      top: 672px;
      left: 328px;
      width: 165px;
    }
    h2 {
      font-size: 84px;
      line-height: 80px;
    }
    .input,
    p {
      font-size: 28px;
      line-height: 32px;
    }
    .slogan {
      top: 200px;
      font-size: 36px;
      line-height: 45px;
    }
    .invisible {
      width: 1830px;
    }
    .main1 {
      height: 942px;
      background-position: right 0px top -45px;
    }
    .main2 {
      height: 1478px;
      background-position: right 0px top -980px;
    }
    .main3 {
      height: 1010px;
      background-position: right 0px top -2465px;
    }
    .main4 {
      height: 780px;
      background-position: right 0px top -3475px;
    }
    .main5 {
      height: 1110px;
      background-position: right 0px top -4250px;
    }
    .main3 {
      div {
        width: 900px;
      }
    }
    .what {
      width: 960px;
    }
    #a {
      left: 150px;
    }
    #b {
      right: 150px;
    }
    #arrow1 {
      left: 850px;
    }
    #arrow2 {
      left: 670px;
    }
    .tagsflex {
      top: 240px;
    }
    .main3 {
      div {
        top: 400px;
      }
    }
    #sparkle3 {
      bottom: 137px;
      left: 299px;
    }
    .main5 {
      #txtemail {
        top: 300px;
        left: 350px;
      }
    }
    #emails {
      top: 640px;
    }
    #lovewomen {
      bottom: 87px;
      left: 793px;
    }
    #my-form-button {
      width: 56px;
      height: 56px;
    }
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  body.preview {
    height: 4220px;
    h1 {
      font-size: 204px;
      line-height: 160px;
      top: 84px;
    }
    .slogan {
      top: 148px;
      font-size: 20px;
    }
    h2 {
      font-size: 56px;
      line-height: 52px;
    }
    #drawing4 {
      top: 471px;
      left: 196px;
    }
    #drawing1 {
      left: -19px;
    }
    #drawing2 {
      left: 926px;
      top: -39px;
    }
    #drawing3 {
      left: 821px;
      top: 484px;
    }
    .input,
    p {
      font-size: 20px;
      line-height: 23px;
    }
    .invisible {
      width: 1220px;
    }
    .main1 {
      height: 640px;
      background-position: right 0px top -30px;
    }
    .main2 {
      height: 1340px;
      background-position: right 0px top -1360px;
    }
    .main3 {
      height: 800px;
      background-position: right 0px top -2990px;
    }
    .main4 {
      height: 530px;
      background-position: right 0px top -4460px;
    }
    .main5 {
      height: 880px;
      background-position: right 0px top -5385px;
    }
    .what {
      width: 650px;
    }
    #a {
      top: 70px;
      left: 60px;
    }
    #b {
      top: 500px;
      right: 60px;
    }
    #c {
      top: 975px;
    }
    #arrow1 {
      top: 268px;
      left: 545px;
      width: 349px;
    }
    #arrow2 {
      top: 763px;
      left: 475px;
      width: 300px;
    }
    #sparkle1 {
      width: 160px;
      top: 10px;
      left: -230px;
    }
    #sparkle2 {
      width: 160px;
      top: 10px;
      right: -230px;
    }
    .tagsflex {
      top: 130px;
    }
    .main3 div {
      top: 334px;
      width: 527px;
      #circle {
        top: -174px;
        left: -119px;
        width: 782px;
      }
      #star1 {
        top: -195px;
        left: -124px;
      }
      #star2 {
        top: 200px;
        left: 520px;
        width: 250px;
      }
    }
    #sparkle3 {
      width: 160px;
      bottom: 75px;
      left: 130px;
    }
    .main5 {
      #txtemail {
        top: 152px;
        left: 149px;
      }
      p {
        width: 600px;
      }
    }
    #emails {
      top: 430px;
    }
    #lovewomen {
      bottom: 134px;
      left: 507px;
      width: 238px;
    }
    #my-form-button {
      width: 47px;
      height: 47px;
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  body.preview {
    height: 3530px;
    h1 {
      font-size: 160px;
      line-height: 135px;
      top: 85px;
    }
    .slogan {
      top: 137px;
      font-size: 18px;
    }
    #drawing1 {
      width: 209px;
      top: 2px;
    }
    #drawing2 {
      left: 744px;
      width: 211px;
    }
    #drawing3 {
      left: 663px;
      top: 414px;
      width: 240px;
    }
    #drawing4 {
      top: 392px;
      left: 126px;
    }
    h2 {
      font-size: 44px;
      line-height: 42px;
    }
    .input,
    p {
      font-size: 18px;
      line-height: 21px;
    }
    section {
      border-radius: 30px;
    }
    .invisible {
      width: 980px;
    }
    .main1 {
      height: 550px;
      background-position: right 0px top -30px;
    }
    .main2 {
      height: 1120px;
      background-position: right 0px top -580px;
    }
    .main3 {
      height: 620px;
      background-position: right 0px top -1700px;
    }
    .main4 {
      height: 530px;
      background-position: right 0px top -2300px;
    }
    .main5 {
      height: 685px;
      background-position: right 0px top -2850px;
    }
    .what {
      width: 650px;
      border-radius: 30px;
    }
    #a {
      top: 55px;
      left: 50px;
    }
    #b {
      top: 430px;
      right: 60px;
    }
    #c {
      top: 850px;
    }
    #arrow1 {
      top: 250px;
      left: 430px;
      width: 290px;
    }
    #arrow2 {
      top: 670px;
      left: 361px;
      width: 249px;
    }
    #sparkle1 {
      width: 130px;
      top: 10px;
      left: -140px;
    }
    #sparkle2 {
      width: 130px;
      top: 10px;
      right: -140px;
    }
    .tagsflex {
      top: 130px;
    }
    .main3 div {
      top: 260px;
      width: 527px;
      #circle {
        top: -135px;
        left: -20px;
        width: 595px;
      }
      #star1 {
        top: -160px;
        left: -110px;
        width: 50px;
      }
      #star2 {
        top: 160px;
        left: 500px;
        width: 190px;
      }
    }
    #sparkle3 {
      width: 130px;
      bottom: 75px;
      left: 130px;
    }
    .main5 {
      #txtemail {
        top: 100px;
        left: 150px;
      }
      p {
        width: 530px;
      }
    }
    #emails {
      top: 350px;
    }
    #lovewomen {
      bottom: 75px;
      left: 420px;
      width: 190px;
    }
    #my-form-button {
      width: 45px;
      height: 45px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body.preview {
    height: 3233px;
    h1 {
      font-size: 115px;
      line-height: 90px;
      top: 76px;
    }
    .slogan {
      font-size: 16px;
      top: 120px;
    }
    #drawing1 {
      width: 165px;
      top: 0px;
      left: -22px;
    }
    #drawing2 {
      left: 513px;
      top: -25px;
      width: 182px;
    }
    #drawing3 {
      left: 498px;
      top: 332px;
      width: 156px;
    }
    #drawing4 {
      top: 299px;
      left: 75px;
    }
    h2 {
      font-size: 36px;
      line-height: 34px;
    }
    .input,
    p {
      font-size: 16px;
      line-height: 18px;
    }
    section {
      border-radius: 30px;
    }
    .invisible {
      width: 702px;
    }
    .main1 {
      height: 432px;
      background-position: right 0px top -33px;
    }
    .main2 {
      height: 1010px;
      background-position: right 0px top -467px;
    }
    .main3 {
      height: 550px;
      background-position: right 0px top -1475px;
    }
    .main4 {
      height: 530px;
      background-position: right 0px top -2020px;
    }
    .main5 {
      height: 685px;
      background-position: right 0px top -2550px;
    }
    .what {
      width: 520px;
      border-radius: 30px;
    }
    .txtinside {
      padding: 30px 60px;
    }
    #a {
      top: 40px;
      left: 20px;
    }
    #b {
      top: 390px;
      right: 20px;
    }
    #c {
      top: 775px;
    }
    #arrow1 {
      top: 200px;
      left: 230px;
      width: 290px;
    }
    #arrow2 {
      top: 580px;
      left: 240px;
      width: 249px;
    }
    #sparkle1 {
      width: 100px;
      top: 10px;
      left: -100px;
    }
    #sparkle2 {
      width: 100px;
      top: 10px;
      right: -100px;
    }
    .tagsflex {
      top: 140px;
    }
    .main3 div {
      top: 210px;
      width: 527px;
      #circle {
        top: -135px;
        left: -20px;
        width: 595px;
      }
      #star1 {
        top: -140px;
        left: -60px;
        width: 50px;
      }
      #star2 {
        top: 180px;
        left: 450px;
        width: 190px;
      }
    }
    #sparkle3 {
      width: 100px;
      bottom: 120px;
      left: 50px;
    }
    .main5 {
      #txtemail {
        top: 120px;
        left: 50px;
      }
      p {
        width: 530px;
      }
    }
    #emails {
      top: 350px;
    }
    #lovewomen {
      bottom: 75px;
      left: 250px;
      width: 190px;
    }
    .input {
      width: 600px;
    }
    #emails {
      width: 600px;
    }
    #my-form-button {
      width: 42px;
      height: 42px;
    }
  }
}
@media only screen and (min-width: 360px) and (max-width: 767px) {
  body.preview {
    height: 2670px;
    h1 {
      font-size: 64px;
      line-height: 60px;
      top: 104px;
    }
    .slogan {
      top: 129px;
      font-size: 14px;
      width: 227px;
    }
    #drawing1 {
      width: 82px;
      top: 267px;
      left: 28px;
      transform: rotate(-63deg);
    }
    #drawing2 {
      left: 211px;
      width: 82px;
      transform: rotate(-50deg);
    }
    #drawing3 {
      position: absolute;
      left: 0px;
      top: 47px;
      width: 128px;
    }
    #drawing4 {
      top: 308px;
      left: 218px;
      width: 71px;
    }
    h2 {
      font-size: 32px;
      line-height: 30px;
    }
    .input,
    p {
      font-size: 16px;
      line-height: 18px;
    }
    section {
      border-radius: 18px;
    }
    .invisible {
      width: 336px;
    }
    .main1 {
      height: 432px;
      background-position: right 0px top -12px;
    }
    .main2 {
      height: 800px;
      background-position: right 0px top -460px;
    }
    .main3 {
      height: 430px;
      background-position: right 0px top -1260px;
    }
    .main4 {
      height: 460px;
      background-position: right 0px top -1690px;
    }
    .main5 {
      height: 540px;
      background-position: right 0px top -2150px;
    }
    .what {
      position: relative;
      margin: 0 auto;
      width: 300px;
      border-radius: 18px;
    }
    .txtinside {
      padding: 20px;
    }
    #a {
      top: 55px;
    }
    #b {
      top: 200px;
    }
    #c {
      top: 350px;
    }
    #a,
    #b,
    #c {
      left: auto;
      right: auto;
    }
    #arrow1 {
      top: 210px;
      left: 44px;
      width: 220px;
    }
    #arrow2 {
      top: 510px;
      left: 66px;
      width: 200px;
    }
    #sparkle1 {
      display: none;
    }
    #sparkle2 {
      display: none;
    }
    .tagsflex {
      top: 30px;
    }
    .tagsflexinline {
      flex-direction: column;
      gap: 12px;
    }
    .bubble {
      display: flex;
      gap: 12px;
    }
    .main3 div {
      top: 180px;
      width: 346px;
      #circle {
        top: -70px;
        left: 0px;
        width: 350px;
      }
      #star1 {
        top: -130px;
        left: 24px;
        width: 40px;
      }
      #star2 {
        top: 113px;
        left: 204px;
        width: 140px;
      }
    }
    #sparkle3 {
      display: none;
    }
    .main5 {
      #txtemail {
        top: 50px;
        left: 10px;
        width: inherit;
      }
      p {
        width: 300px;
      }
    }
    #emails {
      top: 290px;
      width: 330px;
    }
    #lovewomen {
      bottom: 60px;
      left: 86px;
      width: 170px;
    }
    .input {
      width: 330px;
    }
    #my-form-button {
      width: 42px;
      height: 42px;
    }
  }
}
