.text-photos_first {
  max-height: 755px;
  height: 100%;
  max-width: 660px;
  width: 100%;
}

.text-photos_second {
  max-height: 755px;
  height: 100%;
  max-width: 660px;
  width: 100%;
}
